html {
    font-size: 10px;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 520;
}
a {
    color: turquoise;
    font-size: 2rem;
    text-decoration: none;
}

body video {
    max-width: 25%;
    margin: 0 auto;
}

.body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    max-width: 90%;
    flex-shrink: 2;
    margin: auto;
    text-align: center;
}

.body a {
    margin: auto;
}

.body h2 {
    margin: auto;
    font-size: 4rem;
}

.body h4 {
    margin: 5rem auto;
    font-size: 2.5rem;
    font-weight: 300;
    color: rgb(92, 92, 92);
}
footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    max-width: 50%;
    flex-shrink: 2;
    margin: auto;
    text-align: center;
}

footer img {
    width: 7rem;
    margin: 4rem auto;
}

footer h2 {
    margin: 5rem auto;
    width: 75%;
    justify-content: space-around;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
}

footer a {
    margin: auto;
    text-align: right;
}

#water-mark {
margin: 5rem 0;
margin-bottom: 0;
text-align: right;
}

#water-mark i {
float: right;
    
}