html {
    font-size: 10px;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 520;
}

.body {
    margin: 0 25%;
}

.body a {
    width: 50%;
    height: auto;
    
}

a {
    font-size: 2rem;
    color: teal;
    text-decoration: none;
}